.floating-circle{
  display:inline-block;
  border-radius:50%;
  width:1rem;
  height:1rem;
  box-shadow:0 4px 4px rgba(0,0,0,.2);
  background-color:#349ff4;   /* azul relleno */
  border:none;
  transition:background-color .15s, box-shadow .15s;
}

.floating-circle:hover{
  box-shadow:0 4px 8px rgba(0,0,0,.4);
  background-color:#3d79a6;   /* azul más oscuro */
}
.diagram-card {
  position: relative;
  width: 100%; 
  max-width: 700px;
  height: 500px;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
}
